<div class="container">
    <h2>Привіт!!!</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolorem earum dolore dolor, accusamus velit, deserunt voluptatibus 
        tempore doloremque aut aperiam quis repellat. Quae in quidem harum cupiditate odit dolore modi.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolorem earum dolore dolor, accusamus velit, deserunt voluptatibus 
        tempore doloremque aut aperiam quis repellat. Quae in quidem harum cupiditate odit dolore modi.
    </p>
</div>
